<p style="color: green"><%= notice %></p>

Authors: <%= @paper.authors.map { |author| author.name }.join ', ' %>
<%= render @paper %>

<div>
  <%= link_to "Edit this paper", edit_paper_path(@paper) %> |
  <%= link_to "Back to papers", papers_path %>

  <%= button_to "Destroy this paper", @paper, method: :delete %>
</div>
